body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: linear-gradient(
		100deg,
		rgb(235, 222, 222),
		rgb(255, 246, 228)
	);
}
h1 {
	text-align: center;
}
img {
	width: 400px;
	height: auto;
}
ul li::marker {
	color: rgb(255, 52, 52);
}
li::marker {
	font-style: italic;
}
p {
	font-size: larger;
}
