body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: rgb(255, 248, 248);
}
h1 {
	text-align: center;
}
img {
	width: 400px;
	height: auto;
}
ul li::marker {
	color: rgb(255, 52, 52);
}
li::marker {
	font-style: italic;
}
p {
	font-size: larger;
}
